<mat-nav-list>
  <div class="profile-card">
    <img src="https://res.cloudinary.com/franckoline/image/upload/v1595674992/HomeFront/websiteImage/hflg_nfmd7d.png" alt="My Dog">
  </div>
<mat-divider></mat-divider>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/">
  <mat-icon>dashboard</mat-icon>
  Dashboard
</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
  <mat-icon>blogs</mat-icon>
  Posts</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/training"><mat-icon>class</mat-icon>Trainings</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/participants"><mat-icon>contacts</mat-icon>Applications</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/news"><mat-icon>events</mat-icon>News & Events</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/monitoring"><mat-icon>reports</mat-icon>Monitoring</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/reporting"><mat-icon>notes</mat-icon>Reporting</a>
</mat-nav-list>
<mat-divider></mat-divider>
<button mat-menu-item>
  <mat-icon>help_outline</mat-icon>
  Help
</button>
<button mat-menu-item>
  <mat-icon>exit_to_app</mat-icon>
  Sign Out
</button>
